.vpn-hero {
  text-align: center;
}

@media (min-width: 1024px) {
  .vpn-hero .mzp-l-content {
    min-height: 480px;
  }
}

.vpn-content-block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -moz-outline-radius: 4px;
  border-radius: 4px;
  color: #000;
  margin-bottom: 64px;
  outline: 4px solid #000;
  overflow: visible;
  padding: 0;
  position: relative;
  z-index: 0;
}

.vpn-content-block:after {
  background: #ededf0;
  border-radius: 4px;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.vpn-content-block.y-highlight {
  background: #fff;
}

.vpn-content-block.y-highlight:after {
  background: rgba(255, 164, 21, 0.3);
  border-radius: 4px;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.vpn-content-block .vpn-content-block-container {
  margin: 0 auto;
  padding: 16px;
  width: 100%;
}

.vpn-content-block.t-highlight {
  color: #000;
  outline: 4px solid rgb(255, 164, 21);
}
.vpn-content-block.t-highlight .vpn-content-block-container {
  background-color: #fff;
}

.vpn-content-block.t-highlight:after {
  background: rgba(255, 164, 21, 0.3);
}
.vpn-content-block .l-columns-two .l-column-first {
  margin-bottom: 32px;
}

@media (min-width: 480px) {
  .vpn-content-block .vpn-content-block-container {
    padding: 24px;
  }
}
@media (min-width: 768px) {
  .vpn-content-block {
    margin-bottom: 96px;
  }
  .vpn-content-block:after {
    left: 32px;
    top: 32px;
  }
  .vpn-content-block .vpn-content-block-container {
    padding: 96px 48px;
  }
  .vpn-content-block .l-columns-two {
    zoom: 1;
    position: relative;
  }
  .vpn-content-block .l-columns-two:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
  }
  .vpn-content-block .l-columns-two .l-column-first {
    width: calc(50% - 64px);
    margin-bottom: 0;
  }
  .vpn-content-block .l-columns-two .l-column-first {
    float: left;
  }
  [dir="rtl"] .vpn-content-block .l-columns-two .l-column-first {
    float: right;
  }
  .vpn-content-block .l-columns-two .l-column-last {
    width: calc(50% - 64px);
  }
  .vpn-content-block .l-columns-two .l-column-last {
    float: right;
  }
  [dir="rtl"] .vpn-content-block .l-columns-two .l-column-last {
    float: left;
  }
}

/* ========== Offerings ============== */

@media (min-width: 768px) {
  .vpn-variable-pricing-block {
    margin-top: 192px;
  }
}

.vpn-pricing-variable-plans .vpn-content-block-container {
  padding: 24px;
  position: relative;
}
@media (min-width: 768px) {
  .vpn-pricing-variable-plans .vpn-content-block-container {
    padding-top: 80px;
  }
}

@media (min-width: 768px) {
  .vpn-pricing-variable-plans .vpn-content-block:after {
    left: 24px;
    top: 24px;
  }
  .vpn-pricing-variable-plans
    .vpn-content-block-sub-heading
    .js-vpn-monthly-price-display
    span {
    display: block;
    margin-top: 16px;
  }
  @supports (display: grid) {
    .vpn-pricing-variable-plans {
      display: grid;
      grid-column-gap: 64px;
      grid-template-areas: "months-12 months-12" "months-6 monthly";
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
    .vpn-pricing-variable-plans
      .vpn-content-block.t-highlight
      .vpn-content-block-container {
      height: calc(100% - (56px + 48px));
      position: absolute;
      width: calc(100% - 48px);
    }
  }
}
@media (min-width: 1024px) {
  .vpn-pricing-variable-plans .vpn-content-block:after {
    left: 16px;
    top: 16px;
  }
  @supports (display: grid) {
    .vpn-pricing-variable-plans {
      grid-column-gap: 32px;
      grid-template-areas: "months-12 months-6 monthly";
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: none;
    }
  }
}

.vpn-feature-list.mzp-u-list-styled {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.5;
  display: inline-block;
  list-style: none;
  margin: 0 0 24px 0;
}

/* =======  Expertise start ======== */

.vpn-faq-section-heading {
  font-size: 38px;
  font-size: 2.375rem;
  line-height: 1.05;
  margin-bottom: 96px;
  text-align: center;
}
@media (min-width: 768px) {
  .vpn-faq-section-heading {
    font-size: 48px;
    font-size: 3rem;
    line-height: 1;
  }
}
.vpn-faq-item {
  margin-bottom: 48px;
}
.vpn-faq-item-heading {
  margin-bottom: 32px;
  list-style: none;
}
.vpn-faq-item-heading:hover {
  cursor: pointer;
}

/* ================= innovation start ================= */

.vpn-pricing-variable-plans .vpn-content-block {
  -webkit-box-align: start;
  align-items: start;
}

.vpn-pricing-variable-plans .vpn-content-block-container {
  padding: 24px;
  position: relative;
}

@media (min-width: 768px) {
  .vpn-pricing-variable-plans .vpn-content-block-container {
    padding-top: 80px;
  }
}

.vpn-pricing-variable-plans .vpn-pricing-variable-plan-tag {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #5340b4;
  color: #fff;
  font-weight: 700;
  left: 0;
  margin-bottom: 0;
  padding: 16px;
  position: absolute;
  top: 0;
  width: 100%;
}

@media (min-width: 768px) {
  @supports (display: grid) {
    .vpn-pricing-variable-plans {
      display: grid;
      grid-column-gap: 64px;
      grid-template-areas: "months-12 months-12" "months-6 monthly";
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
    .vpn-pricing-variable-plans
      .vpn-content-block.t-highlight
      .vpn-content-block-container {
      height: calc(100% - (56px + 48px));
      position: absolute;
      width: calc(100% - 48px);
    }
  }
}
@media (min-width: 1024px) {
  @supports (display: grid) {
    .vpn-pricing-variable-plans {
      grid-column-gap: 32px;
      grid-template-areas: "months-12 months-6 monthly";
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: none;
    }
  }
}
@media (min-width: 1312px) {
  .vpn-pricing-variable-plans .vpn-content-block:after {
    left: 24px;
    top: 24px;
  }
  .vpn-pricing-variable-plans
    .vpn-content-block-sub-heading
    .js-vpn-monthly-price-display
    span {
    display: inline;
  }
  @supports (display: grid) {
    .vpn-pricing-variable-plans {
      grid-column-gap: 64px;
    }
  }
}

/* ================== */
.yavar_logo {
  height: 32px;
}

.navbar li a {
  font-size: 16px;
  color: rgb(0, 0, 0) !important;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.y-navigation .y-navigation-l-content {
  zoom: 1;
  padding: 16px 24px;
  position: relative;
}

@media (min-width: 768px) {
  .y-navigation .y-navigation-l-content {
    padding: 0 64px;
  }
}
@media (min-width: 1024px) {
  .y-navigation .y-navigation-l-content {
    padding: 0 96px;
  }
}
.y-navigation .y-navigation-container {
  zoom: 1;
  margin: 0 auto;
  max-width: 1440px;
}
.navbar {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.footer-logo {
  height: 32px !important;
}

.footer-social-media-icons {
  height: 20px;
}

.social li {
  float: left;
  margin-right: 10px;
}
#cf {
  position: relative;
  height: 281px;
  width: 450px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}

#cf img {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top {
  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-direction: alternate;
}

@keyframes cf3FadeInOut {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 0.2;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 991.98px) {
  #cf img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
    position: absolute;
    left: 0;
    right: unset;
  }
}

@media only screen and (max-width: 768px) {
  #cf img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
  }
}

@media only screen and (max-width: 480px) {
  #cf img {
    position: absolute;
    left: 0;
    right: unset;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
}
